<div class='surf_view'>
  <ul>  
    <li><%= @name %></li>
    <li><%= @date %></li> 

    <li>Shred Rating</br><%= @total_score %></li>
  </ul>
</div>
<div class='surf_view2'>
  <ul>  
    <li><%= @size %> ft </li>
    <li><%= @wind %></li>
    <li><%= @tide %></li>
    <li><%= @swell %></li>
    <li><%= @temp %></li>   

  </ul>