
<h1> Choose a Mountain </h1>

<div class='input_box'>
<%= form_tag controller: 'mountain', action: 'search' do %> 
  <%= select_tag(:resort_id, options_for_select(@resorts), {:class => "drop_down"})  %>
  <%= button_to 'Get Shred Rating', {}, {:class => "button"} %>
<% end %>
</div>


<div class='surf_input'>
  <h1> Choose a Surf Spot </h1>
  <%= form_tag controller: 'surf', action: 'search' do %> 
    <%= select_tag(:spot_id, options_for_select(@spots), {:class => "drop_down"})  %>

    <%= button_to 'Get Surf Rating', {}, {:class => "button"} %>
  <% end %>
</div>

